In [1]:
# imports
import pandas as pd

## Dataset (Pavlick Formality Scores)

Includes sentences from four genres (news, blogs, email, and QA forums), all annotated by humans on Amazon Mechanical Turk.

[Link](https://huggingface.co/datasets/osyvokon/pavlick-formality-scores) to Dataset on Huggingface.

**Contents**

The annotated data files and number of lines in each are as follows:
- 4977 answers -- Annotated sentences from a random sample of posts from the Yahoo! Answers forums: https://answers.yahoo.com/
- 1821 blog -- Annotated sentences from the top 100 blogs listed on http://technorati.com/ on October 31, 2009.
- 1701 email -- Annotated sentences from a random sample of emails from the Jeb Bush email archive: http://americanbridgepac.org/jeb-bushs-gubernatorial-email-archive/
- 2775 news -- Annotated sentences from the "breaking", "recent", and "local" news sections of the following 20 news sites: CNN, CBS News, ABC News, Reuters, BBC News Online, New York Times, Los Angeles Times, The Guardian (U.K.), Voice of America, Boston Globe, Chicago Tribune, San Francisco Chronicle, Times Online (U.K.), news.com.au, Xinhua, The Times of India, Seattle Post Intelligencer, Daily Mail, and Bloomberg L.P.

**Format**

Each record contains the following fields:
- domain: source of sentences
- avg_score: the mean formality rating, which ranges from -3 to 3 where lower scores indicate less formal sentences
- sentence

**Download**

To enable this notebook to run, please download the following .csv files  from [here](https://huggingface.co/datasets/osyvokon/pavlick-formality-scores/tree/main) and save them in ./data (Hint: click on the file size):
- all.csv
- test.csv
- train.csv

### All Data

In [2]:
# load all data from csv into pandas dataframe
df_all = pd.read_csv('./data/all.csv')
df_all.head()

    domain  avg_score                                           sentence
0  answers       -1.4  Pimp (10) Successfully complete all the Snatch...
1  answers       -1.8                  it's a Holiday Inn for terroists.
2  answers       -2.0                       Good Luck and don't give up!
3  answers        0.2     Most SHC victims are found near a heat source.
4  answers       -1.6                      Tanay: I did have an opinion.

In [3]:
df_all.shape

(11274, 3)

### Train Data

In [4]:
# load training data from csv into pandas dataframe
df_train = pd.read_csv('./data/train.csv')
df_train.head()

    domain  avg_score                                           sentence
0     news       -0.6  Tang was employed at private-equity firm Fried...
1     news        1.0  San Francisco Mayor Gavin Newsom's withdrawal ...
2  answers       -2.8                   lol nothing worrying about that.
3     news        0.0  She told Price she wanted to join the Police E...
4     news        1.8  The prime minister is keen to use the autumn p...

In [5]:
df_train.shape

(9274, 3)

### Test Data

In [6]:
# load test data from csv into pandas dataframe
df_test = pd.read_csv('./data/test.csv')
df_test.head()

    domain  avg_score                                           sentence
0     news       1.00  Saleh said the detainees told interrogators th...
1  answers      -2.25                             i own this board, now.
2  answers      -2.00                   will lead you into blind alleys.
3    email       2.20  If you have any questions or wish to speak fur...
4  answers       0.60               However, your case may be different.

In [7]:
df_test.shape

(2000, 3)

## Custom test cases - Kainos job specifications

### Formal test case:
As a Trainee Artificial Intelligence (AI) Engineer in Kainos, you’ll be responsible for contributing to the development of high-quality solutions which integrate AI and ML technologies that delight our customers and impact the lives of users worldwide. You’ll do this whilst gaining awareness and learning about new AI technologies, frameworks and approaches, with talented colleagues that will help you to learn, develop and grow.

### Informal test case:
A Trainee AI engineering at kainos will be building good solutions that join AI and ML stuff that make customers really happy and people everywhere. Need to learn about all new stuff in AI and talk loads with people you work with to get smarter and do more stuff.